* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/* ------------------header ----------------------- */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.header__nav {
    display: flex;
}
.header__nav__navLink:not(:last-child) {
margin-right: 75px;
}
.header__nav__navLink {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.header__socialIcon:not(:last-child) {
margin-right: 20px;
}
.header__nav__navLink--active {
    color: red;
}
/* ------------------header ----------------------- */